<h3>Welcome to Game Idea Voter</h3>
<div>
  <!-- <form action="/sessions" method="post">
    <p><input type="email" placeholder="Email"></p>
    <p><input type="password" placeholder="Password"></p>
    <p><input type="submit" value="Log in"></p>
  </form> -->

  <%= form_for @user, url: {action: :login} do |f| %>
    <p><%= f.email_field :email, placeholder: "Email" %></p>
    <p><%= f.password_field :password, placeholder: "Password", class: "orange" %></p>
    <div class="row">
      <p class="col 6s left"><%= f.submit "Log in"%></p>
      <p class="col 6s right"><%= link_to "Sign Up", new_user_path %></p>
    </div>
  <% end %>
</div>
